@use "../../sass/variables" as *;

.CardList {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 220px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.active-link {
  text-decoration: none;
  color: #ff00ea;
}
